html {
  font-size: 18px;
  line-height: 1.4px;
  font-family: Helvetica, sans-serif;
}

.banner {
  background-image: url("../../resources/images/glasses-bg.png");
  height: 31rem;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.container,
.headline {
  max-width: 960px;
  margin: 0 auto;
}

.heading {
  position: relative;
  top: 1rem;
  display: flex;
  background-color: cadetblue;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav ul {
  display: flex;
}

.mobile-nav {
  display: none;
}

.heading li {
  padding-right: 2rem;
}

.headline {
  position: relative;
  top: 10rem;
  display: flex;
  justify-content: flex-end;
}

.headline h1 {
  font-weight: bold;
  font-size: 2rem;
  background-color: white;
  padding: 1.5rem 5rem;
  margin-right: -2rem;
}

@media only screen and (max-width: 1024px){
  .banner {
    height: 22rem;
  }

  .container {
    max-width: 100%;
  }

  .heading {
    top: 0;
    width: 100%;
  }

  .headline {
    top: 5rem;
  }

  .headline h1 {
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 720px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.icons {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.exam img {
  width: 3.5rem;
}

.fittings img,
.delivery img {
  width: 5rem;
}

.fittings {
  padding: 0 6rem;
}

.business-info {
  margin-top: 3rem;
  display: flex;
}

.info {
  width: 35%;
}

.title {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
  display: block;
  width: 10rem;
  padding: 0.5rem 1.25rem;
}

.info p {
  margin-top: 1rem;
}

.philosophy {
  margin-right: 5%;
  margin-left: 5%;
}

footer {
  margin-top: 5rem;
  background-color: azure;
  display: flex;
  align-items: center;
}

footer img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 17rem;
    background-position: 20%;
  }

  .logo span {
    display: none;
  }

  .headline {
    top: 9rem;
    justify-content: center;
    background-color: white;
  }

  .headline h1 {
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
  }

  .icons {
    margin-top: 3.77rem;
    flex-direction: column;
  }

  .icon span {
    font-size: 0.77rem;
  }

  .business-info {
    margin-top: 3.77rem;
    flex-direction: column;
  }

  .philosophy {
    margin: 0;
  }
  .appointments {
    margin-top: 4rem;
  }

  .info,
  .title {
    width: 100%;
    padding: 0.5rem 0;
  }

  .title {
    text-align: center;
  }

  .info p {
    margin-top: 1rem;
    font-size: 0.77rem;
  }

  footer span {
    display: none;
  }

  footer {
    justify-content: center;
  }
}
